// app global css in SCSS form
.page-full-height {
   height: calc(100vh - 50px) !important;
}
.page-scroll-area {
   padding: 24px 24px 24px 24px;
}
.tree-description {
   font-size: 12px;
   line-height: 16px;
   table {
      border: solid 1px #ccc;
      border-collapse: collapse;
      padding: 0px;
      td,
      th {
         padding: 2px 4px;
         border-top: solid 1px #ccc;
         border-left: solid 1px #ccc;
         &:last-child {
            border-right: solid 1px #ccc;
         }
      }
   }
   p {
      margin: 0px 0px 4px 0px;
   }
}

.page-markdown-content {
   font-family: Roboto;
   font-size: 14px;
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
      padding: 0px;
      margin: 0px;
      line-height: 1em;
   }
   p {
      font-size: 1em;
      padding: 12px 0px 0px 0px;
      line-height: 1.4em;
      color: #444444;
   }
   h1 {
      font-size: 24px;
      line-height: 1.2em;
      padding: 24px 0px 0px 0px;
   }
   h2 {
      color: $secondary;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2em;
      padding: 24px 0px 0px 0px;
   }
   h3 {
      font-size: 16px;
      padding: 6px 0px 0px 0px;
   }
   h4 {
      font-size: 14px;
      padding: 12px 0px 0px 0px;
   }
   pre {
      background: #eeeeee;
      border: solid 1px #ccc;
      border-radius: 3px;
      padding: 12px;
      code {
      }
   }

   table {
      border-collapse: collapse;
      border-radius: 3px;
      overflow: hidden;
      margin: 12px 0px 12px 0px;

      th,
      td {
         padding: 4px 8px;
         font-size: 14px;
         color: #4a4a4a;
         border: 1px solid #e0e0e0;
      }

      th {
         background-color: #e6e6e6;
         font-weight: bold;
         padding: 10px;
      }

      tr:nth-child(even) {
         background-color: #f7f7f7; /* Couleur gris pâle pour les lignes paires */
      }

      tr:hover {
         background-color: #f0f8ff;
      }

      tbody tr {
         border-bottom: 1px solid #e0e0e0;
      }
   }
}
